*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #0D99FF;
}
.navigation, .body{
    display: flex;
    justify-content: space-between;
}
.navigation img{
    justify-content: left;
}
.navigation .links{
    justify-content: right;
}

.body{
    margin-left: 5%;
}
.intro p {
    font-size: larger;
    display: block;
}
input[type="button"]:hover {
    transform: scale(1.05);
}

.body div{
    display: inline;
}

p,nav a{
    color: #0D99FF;
    display: inline;
}
.navigation a:last-of-type, .intro input{
    color: black;
    background: 3px #FFA629;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 15px;
}
a{
    text-decoration: none;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
h1{
    display: inline;
    font-size: 25px;
}

footer{
    background-color: #FFA629;
}